@import url('./reset.css');


.container {
    /* height: 600px; */
   display: grid;
   grid-template-columns: repeat(2, 1fr 2fr); /* 1fr 2fr 1fr 2fr*/
    grid-template-rows: 200px repeat(3, 400px); /*200px 400px 400px 400px */  
}

/*
fr (fraction) - доля екрану
100% екрану діляться на сумму fr по колонках. Кожна колонка отримує свою долю * на коеф


repeat(кількість разів повторити, розмір який повторюється)
*/

.item {
    /* width: 100px; */
    /* height: 100px; */
    background-color: blueviolet;
    color: white; 
    font-size: 20px;
    border: 1px solid grey;
}


.item:nth-child(1) {
    /* grid-column-start: 1;
    grid-column-end: 5; */
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}