/* :root {

} */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card-container {
    width: 450px;
    height: 250px;
    padding: 30px 20px;
    background: rgb(142,214,251);
    background: linear-gradient(90deg, rgba(142,214,251,1) 0%, rgba(81,144,223,1) 100%);
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    position: relative;
    align-content: space-between;
}

.card-container::after, .card-container::before {
    content: '';
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
}


.card-container::after {
    bottom: -42%;
    right: -6%;
}

.card-container::before {
    top: -39%;
    right: -18%;
}


/* .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 */

.card-container p {
    font-size: 1.5em;
    margin: 0;
}

.card-container span {
    font-size: 2em;
}

.card-container h3 {
    font-size: 2.5em;
    font-weight: 800;
    margin: 1em 0 1.5em;
}